@import '../overrides/color';

.checkbox-container {
  margin: 15px 0 0;
  height: auto;
  display: -webkit-inline-box;
  width: 100%;

  .checkbox-check{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    i {
      color: $primary-color;
    }
  }
}