@import '../overrides/color';
@import '../overrides/fonts';

.modal-container {
  
  .modal-body {
    border-radius: 5px;

    .modal-toolbar {
      background: none;
      color: $black;

      .modal-title {
        color: $black;
      }

      .modal-close-icon {
        position: absolute;
        right: -8px;
        top: -5px;
        width: 30px;
        height: 30px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
      }

      .modal-close-icon::before {
        font-size: 15px;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 2px solid $black;
        
      }
    }
  }

  .view-box {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .text {
      width: 100%;
      margin: 5px 0 0;
      display: flex;

      .title {
        min-width: 80px;
      }

      .sub-datail {
        margin-top: 60px;

        .title {
          min-width: 120px;
        }
      }
    }
  }

  .checkbox-container {
    border: 1px solid $border-color;
    padding: 5px;
    height: auto;
    border-radius: 5px;

  }

  .btn {
    float: right;
    // min-width: 200px;
    i {
      margin-left: 20px;
    }
  }
}