@import '../overrides/color';

.onboarding-form-container {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  height: 100%;

  .horizontal-rule {
    color: #D8D8D8;
    width: 100%;
    margin: 30px 0;
  }

  .section-title {
    color: #651FFF;
  }

  .upload-document-box {
    display: flex;
    flex-direction: row;
    border: 1px dashed #B9BED1;
    min-height: 80px;
    text-align: center;
    align-items: center;

    p {
      text-decoration: underline;
    }

    .icon {
      font-size: 25px;
      margin-right: 8px;
      // flip icon
      webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      transform: scaleX(-1);
      -ms-filter: "FlipH";
      // End flip icon
    }

    .btn {
      color: $black;
      background-color: transparent;
      padding: 0 5px;
      width: auto;
      text-align: left;
      height: auto;
    }
  }

  .upload-progress {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .file-title {
      color: #3D5AFE;
      font-weight: 600;
    }

    .upload-status {
      color: #9B9B9B;
    }

    .progress-indicator {
      margin-top: 30px;
    }

    .close-icon {
      position: relative;
      float: right;
      right: 0;
      color: #A0A0A0;
      font-size: 23px;
    }
  }

  .processing-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px 20px;
    text-align: center;

    p {
      margin-top: 20px;
    }

    img {
      margin-top: 40px;
      width: 150px;
    }

    .progress-indicator {
      margin-top: 40px;
      min-width: 250px;

      p {
        margin-top: 10px;
      }
    }
  }
}