@import '../overrides/color';

.popup {
  .popup-content {
    width: 100% !important;
    background-color: $white;
    border: 1px solid $border-color;
    color: black;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.23);

    &.arrow-top::after {
      border-color: transparent transparent $white transparent;
    }

    .btn {
      width: 100%;
      margin: 0;
      padding: 10px 15px;
    }
  }
}