@import '../overrides/color';

.quill {

  .ql-toolbar {
    border-radius: 5px 5px 0 0;
    border-color: $border-color;
  }

  .ql-container {
    height: 300px;
    border-radius: 0 0 5px 5px;
    border-color: $border-color;
  }
}