@import '../overrides/color';

.custom-radio-box {
  .radio-group-container {
    .children-container {
      @media (max-width: 361px) {
        justify-content: center !important;
      }
      
      .radio-container {
        min-width: 125px;
        padding: 10px 25px;
        border-radius: 4px;
        border: 1px solid $border-color;
  
        @media (max-width: 361px) {
          margin-bottom: 10px;
        }
  
        .radio-outer-circle {
          
        }

        &.radio-outer-circle::after{ 
          border-color: $white;
        }
      }
      .checked {
        background-color: $primary-color;

        .radio-outer-circle {
          border-color: $white;
          .radio-icon {
            i {
              color: $white;
            }
          }
        }

        .helper-text {
          color: $white
        }
      }
  
    }
  }
}

.radio-group-container {

  .children-container {

    .radio-container {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .radio-outer-circle {
        width: 22px;
        height: 22px;
        border-width: 2px;
        .radio-icon {

          i {
            bottom: 10px;
            left: 5px;
            font-size: 8px;
          }
        }
      }
    }
  }
}