.split-input-row {
  margin: 20px 0;

  .box-around {
    border-radius: 3px;
    border: 1px solid #D8D8D8;
    padding: 10px 3px;
    width: 100%;
  }

  .left {
    padding: 0;
    align-self: center;

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }
  }

  .right {
    .radio-group-container {
      .children-container {
        justify-content: flex-end;
      }
    }

    .popup {
      display: flex;
      justify-content: flex-end;
      
    }
  }

  .hint {
    color: #BBC6D7
  }
}
