.client-onboarding-steps {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;

  .item {
    align-items: center;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 15px;


    .number-circle {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background: #fff;
      border: 2px solid black;
      color: black;
      text-align: center;
      margin-right: 10px;
    }

    &.in-active {
      h6 {
        color: #BBC6D7;
      }

      .number-circle {
        border: 2px solid #BBC6D7;
      }
    }
  }

  .message {
    margin-top: 20px;
    line-height: 25px;
  }

  .contact {
    margin-top: 20px;

    p {
      margin-top: 10px;
      line-height: 25px;
    }
  }
}
