@import "steps";

.on-boarding-page {
  padding-top: 100px;

  .heading {
    text-align: center;
    margin-bottom: 50px;
  }

  .bordered-box {
    display: flex;
    flex-direction: row;
    border: 1px solid #D5DCE6;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 30px;
    min-height: 70px;
    align-content: center;

    .form-in-active {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 30px;
      width: 100%;

      .icon {
        margin-right: 20px;
      }
      h5 {
        color: #BBC6D7;
      }
    }

    .form-active {
      min-height: 300px;
      width: 100%;
    }
  }
}
