.advocate-dashboard {
  margin-top: 50px;
  font-family: $primary-font;

  .container {
    padding: 0;
  }

  .box {
    background-color: $box-color;
    padding: 30px 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid $border-color;

    .title {
      margin-bottom: 20px;
    }

    .inner-box {
      max-width: 31%;
      background-color: $white;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid $border-color;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        min-width: 100%;
      }

      .section-title {
        color: $primary-color;
        font-family: $gilroy-font;
      }

      .list-box {
        background-color: $box-color;
        margin: 20px 0;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid $border-color;

        .box-title {
          display: flex;
          justify-content: space-between;

          label {
            color: $anchor-color;
          }
        }

        label {
          color: $light-text-color;
        }

        a {
          text-decoration: underline;
          font-family: $secondary-font;
        }

        ul {
          margin: 20px 0;
          padding: 0;
          list-style-type: none;

          li {
            margin: 10px 0;
          }
        }

        .list-action {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .btn {
            // margin: 0;
          }

          .secondary-button {
            background-color: $button-secondary-color;
            border: 1px solid $button-secondary-border-color;
          }
        }
      }

      .fa-thumbs-up {
        color: $success-color
      }

      .fa-thumbs-down {
        color: $error-color
      }

      .fa-check {
        color: $success-color
      }

      .fa-times {
        color: $error-color
      }
    }
  }

  .modal-container {

    label {

      span {
        font-family: $secondary-font;

        a {
          text-decoration: underline;
        }
      }
    }

    img {
      margin: 15px 0;
    }

    .quill-ready-only {
      .quill {
        .ql-toolbar {
          background-color: $read-only-color;
        }

        .ql-container {
          background-color: $read-only-color;
        }
      }
    }

    .detail {
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      label {
        margin: 5px 0;
      }
    }
  }

  .section-title {
    color: $primary-color;
  }
}