@import "../overrides/fonts";

.link-button {
  background-color: transparent;
  border: transparent;
  color: white;
  line-height: 40px;
  font-family: $secondary-font;
  font-size: 1rem;

  &.active {
    border-bottom: 2px solid white;
  }

  &:hover {
    border-bottom: 2px solid white;
  }
}
