#progress-bar-container {
  border: 1px solid #1FCE99;
  border-radius: 10px;
  padding: 1px;

  #progress-bar {
    height: 5px;
    background-color: #1FCE99;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    border-radius: 10px;
  }
}
