.find-case-section {
  margin-top: 150px;

  .title{
    .btn {
      margin: 20px 0 0 0;
    }

    @media only screen and(max-width: 768px) {
      text-align: center;
    }

  }

  .image {
    img {
      width: inherit;
    }

    @media only screen and(max-width: 767px) {
      display: none;
    }
  }
}
