.how-it-works-section {
  margin-top: 50px;

  .title {
    text-align: center;

    h6.grey {
      color: #C0C4D2;
    }
  }

  .detail {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 50px;

    .image-sqr {
      display: flex;
      align-self: center;
      width: max-content;
      height: 100px;
    }

    .item-detail {
      display: flex;
      flex-direction: column;

      .heading {
        margin-top: 30px;
      }
    }

    .activate-button {
      margin-top: 30px;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 30px;

      :not(:first-child) .item-detail {
        margin-top: 30px;
      }
    }
  }
}
