.introduction-hero-section {
  height: max-content;
  align-self: center;

  .left-pane {
    height: 100%;
    align-self: center;

    p {
      margin-top: 30px;
    }

    .row .btn {
      margin-top: 30px;
      margin-left: 15px;
    }

    @media only screen and (max-width: 768px) {
      text-align: center;

      .row {
        justify-content: center;
      }
    }
  }

  .browsing-people-img {
    height: 430px;
    background-image: url("../../../assets/images/people-browsing-web-page.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 326px;
    margin-top: 200px;

    @media only screen and (min-width: 992px) {
      margin-left: 150px;
    }

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
}
