.recognized-lawyers-section {
  margin-top: 150px;

  .row {
    margin-right: 0;
  }

  .image {
    @media only screen and(max-width: 767px) {
      display: none;
    }

   img {
     width: inherit;
   }
  }

  @media only screen and(max-width: 768px) {
    margin-top: 100px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media only screen and(max-width: 768px) {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
    }

    p {
      margin-top: 30px;
    }

    .btn {
      align-self: center;
      width: max-content;
      margin-top: 30px;

      @media only screen and(max-width: 768px) {
        align-self: center;
      }
    }
  }
}
