.safe-data-section {

  .row {
    margin-right: 0;
  }

  .image {
    padding: 0;
    @media only screen and(max-width: 767px) {
      display: none;
    }

    img {
      width: inherit;
    }
  }

  @media only screen and(max-width: 768px) {
    margin-top: 100px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      padding: 0 50px;
    }

    @media only screen and(max-width: 768px) {
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
    }

    p {
      margin-top: 30px;
    }

    .btn {
      margin-top: 30px;
      margin-left: 0;
      width: max-content;

      @media only screen and(max-width: 768px) {
        align-self: center;
      }
    }
  }
}
