.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  .content {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    .box {
      background-color: $white;
      padding: 30px 40px;
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid $border-color;

      .title {
        text-align: center;
        margin-bottom: 20px;
      }

      form {

        .input-container {
          margin: 5px 0 30px;
        }

        .btn {
          width: 100%;
          padding: 10px 15px;
          margin: 0;
        }
      }
    }

    .box-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;

      a {
        text-decoration: underline;
        color: $anchor-color;
      }
    }
  }

  .auth-footer {
    width: 100%;
    margin-top: 40px;
    padding: 20px;

    @media (min-width: 1240px) {
      position: fixed;
      bottom: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      float: right;

      li {

        a {
          text-align: center;
          padding-right: 10px;
          font-weight: 600;
        }
      }
    }
  }
}