$primary-color: #651FFF;
$button-secondary-color: #525C81;
$button-secondary-border-color: #313A5A;

$success-color: #1FCE99;
$error-color: #FF7474;


$list-footer: #E6E6E6;
$anchor-color: #90A3AE; 
$white: #FFFFFF;
$black: #000000;
$border-color: #D5DCE6; 
$read-only-color: #E8ECF2;
$light-text-color: #898EA3;

$box-color: #F9FBFE;
