$primary-font: 'Roboto', 'sans-serif';
$secondary-font: 'Gilroy Black', 'sans-serif';
$tertiary-font: 'Circular Std Medium', 'sans-serif';
$gilroy-font: 'Gilroy', 'sans-serif';

$primary-font-color: #000000;
$dark-theme-primary-font-color: #FFFFFF !default;
