$app-bar--background-color: linear-gradient(90deg, rgba(179, 132, 255, 1) 0%, rgba(124, 77, 255, 1) 100%);
$app-bar--convert-to-sidebar-at-width: 900px;

.master-app-bar-container {
  .app-bar-container {
    position: fixed;
    width: 100%;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 135px;
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ccc
  }

  .dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
  }

  .dropdown:hover .dropbtn {
    background-color: #2980B9;
  }
}