@import "../fonts";

$btn--primary-bg-color: #1FCE99;
$btn--primary-hover-bg-color: #19BF8D;
$btn--padding-horizontal: 20px;
$btn--font-family: $secondary-font;
$btn--primary-bordered-border-color: #fff;
