.footer-container {
  height: 600px;
  margin-top: 50px;

  .background-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/tide-top-purple.svg");
    background-size: 100%;
  }

  .body {
    position: absolute;
    bottom: 50px;
    height: max-content;

    .right {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: end;
    }

    .btn {
      margin-left: 15px;
      margin-top: 10px;
    }

    hr {
      margin-top: 50px;
      margin-bottom: 30px;
      border: 0.5px solid #a59a9a;
    }

    .logo-row {
      margin-top: 50px;

      .footer-mid {
        text-align: center;
        justify-content: center;

        p {
          margin: 0;
        }
      }
    }

  }
}
