.hero-section {
  height: 600px;

  .background-container {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/tide-bottom-purple-1400.png");
    background-size: 100%;
    display: flex;
    align-content: center;
  }

  @media only screen and(max-width: 2000px) {
    height: 625px;
  }

  @media only screen and(max-width: 1800px) {
    height: 565px;
  }

  @media only screen and(max-width: 1600px) {
    height: 500px;
  }

  @media only screen and(max-width: 1400px) {
    height: 450px;
  }

  @media only screen and(max-width: 1300px) {
    height: 400px;
  }

  @media only screen and (max-width: 1200px) {
    height: 600px;

    .background-container {
      background-image: url("../../assets/images/tide-bottom-purple-1200.png");
      background-size: auto;
    }
  }

  @media only screen and (max-width: 992px) {
    height: 550px;

    .background-container {
      background-image: url("../../assets/images/tide-bottom-purple-992.png");
      background-size: auto;
    }
  }

  @media only screen and (max-width: 768px) {
    height: 500px;

    .background-container {
      background-image: url("../../assets/images/tide-bottom-purple-768.png");
      background-size: auto;
    }
  }

  @media only screen and (max-width: 576px) {
    height: 500px;

    .background-container {
      background-image: url("../../assets/images/tide-bottom-purple-576.png");
      background-size: auto;
    }
  }

  @media only screen and (max-width: 375px) {
    height: 550px;

    .background-container {
      background-image: url("../../assets/images/tide-bottom-purple-375.png");
      background-size: auto;
    }
  }
}
