.dashboard {
  margin-top: 50px;

  .container {
    padding: 0;
  }

  .box {
    background-color: $white;
    padding: 30px 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid $border-color;

    .title {
      margin-bottom: 20px;
    }

    .list-box {
      margin: 10px 0 40px;
      border-radius: 5px;
      border: 1px solid $border-color;

      p {
        padding: 20px;
        line-height: 1cm;
      }

      .list-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $list-footer;
        border-top: 1px solid $border-color;
        padding: 10px 20px;
      }
    }
  }

  .modal-container {

    .detail {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;

      label {
        margin: 5px 0;
      }
    }
  }
}