@import '../scss/overrides/color';
// Debug only

//* {
//  border: 1px solid red;
//}

// Debug only ends
body {
  margin: 0;
  background-color: #F2F2F2;
}

.no-padding {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

.btn {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.master-app-bar-container {
  a {
    text-decoration: none;
    color: $white;
  }

  a:hover,
  a:active {
    color: $white;
  }
}

hr {
  width: 100%;
  margin: 30px 0;
  height: 1px;
  background-color: $border-color;
  border: none;
}