.over-ons-hero-section {
  align-self: center;
  height: max-content;
  text-align: center;
}

.over-ons-body {
  margin-top: 100px;
  margin-bottom: 100px;

  h6 {
    margin-top: 30px;
    text-align: right;
  }
}
